


/*.labelclass1{
  color: #001D4A;
}


.horizontal-line {
  border-top: 0.5px solid #ddd;
  margin-top: 10px;
}
.horizontal-line {
  border-top: 0.5px solid #ddd;
  margin-top: 10px;
}
.personne{
  font-size: 0.9rem;
  margin-top: 11px;
}
.spp {
  display: inline-block;
  position: relative;
}
.sp {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color:black;
  background: linear-gradient(to bottom, white 50%, #ffc107 50%);


}


.sp:hover {
  background-image: linear-gradient(to bottom, transparent 50%, #ffc107 50%);
  background-position: 0 50%;
  background-size: 100% 200%;
}
.identite{
  font-size: 0.8rem;
  margin-top: -7px;

}
.name{
  color: 	#0D2F66;
  margin-top: -16px;
  font-size: 18px;
}

.main{
font-size: medium;
}


.labelclass2 {
font-weight: bold;
font-size: 16px;
color:black;
margin-bottom: 20px;


}
.client-box {
padding: 5px;
border: 1px solid green;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
}

.tick-icon {
font-size: 16px;
color: green;
}*/



.main {
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
}

.client-status {
  position: absolute;
  top: 5px;
  right: 5px;
}

.client-box {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 9px;
  display: flex;
  align-items: center;
  height: 21px;
  background: #00b785;
  color: #fff;
}

.tick-icon {
  margin-right: 5px;
  font-size: 9px;
  color: #fff;
  margin-top: 3px;
}

.user-info {
  display: flex;
  align-items: center;
}
.name{
  color: 	#0D2F66;
  margin-top: -16px;
  font-size: 18px;
}

.horizontal-line {
  border-top: 0.5px solid #ddd;
  margin-top: 10px;
}
.personne{
  font-size: 0.9rem;
  margin-top: 11px;
}
.spp {
  display: inline-block;
  position: relative;
}
.sp {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color:black;
  background: linear-gradient(to bottom, white 50%, #ffc107 50%);


}

.identite{
  font-size: 0.8rem;
  margin-top: -7px;

}
