.reset-password {
    margin-top: 2rem; /* Ajustez la marge supérieure selon vos besoins */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; /* Fond blanc */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
    max-width: 810px; /* Largeur maximale */
    margin: 91px auto; /* Centre horizontalement */
  }
  
  .reset-password h2 {
    font-size: 1.5rem; /* Taille de police pour le titre */
    margin-bottom: 1rem; /* Marge inférieure pour le titre */
  }
  
  .reset-password form {
    width: 100%; /* Largeur maximale pour le formulaire */
  }
  
  .reset-password .form-group {
    margin-bottom: 1rem; /* Marge inférieure pour les groupes de formulaire */
  }
  
  .reset-password label {
    color: var(--mac-grey); /* Couleur du texte pour les étiquettes */
    font-size: 0.9rem; /* Taille de police pour les étiquettes */
  }
  
  .reset-password input {
    width: 100%; /* Largeur maximale pour les champs de saisie */
    padding: 0.5rem; /* Rembourrage pour les champs de saisie */
    border: 1px solid #ccc; /* Bordure des champs de saisie */
    border-radius: 4px; /* Bord arrondi des champs de saisie */
  }
  
  .reset-password button[type="submit"] {
    background-color: #ffd733; /* Couleur de fond du bouton */
    border: 1px solid #ffeb3b; /* Bordure du bouton */
    padding: 0.5rem 1rem; /* Rembourrage pour le contenu du bouton */
    border-radius: 4px; /* Bord arrondi du bouton */
    cursor: pointer; /* Curseur indiquant un élément cliquable */
  }
  
  .reset-password .error-message {
    color: #721c24; /* Couleur du texte pour les messages d'erreur */
    font-size: 0.9rem; /* Taille de police pour les messages d'erreur */
    margin-top: 0.5rem; /* Marge supérieure pour les messages d'erreur */
  }
  .layout-topbar {
    /*position: fixed;*/
    height: 3rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0,0,0,.02), 0px 0px 2px rgba(0,0,0,.05), 0px 1px 4px rgba(0,0,0,.08);
}

.layout-topbar-logo {
    display: flex;
    align-items: center;
    color: var(--surface-900);
    font-size: 1.5rem;
    font-weight: 500;
    width: 300px; /* Ajustez selon vos besoins */
    border-radius: 12px;
    text-decoration: none;

}

.layout-topbar-logo a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Supprime le soulignement du lien */
}

.layout-topbar-logo img {
   /* height: 6.5rem;*/
   height: 1.5rem;
    margin-right: .5rem;
}

.layout-topbar-logo span {
    font-size: 1rem; /* Ajustez selon vos besoins */
}




.forgot-password {
    margin-top: 0.5rem; /* Ajustez la marge selon vos besoins */
}

.forgot-password a {
    color: var(--mac-grey); /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement du lien */
    font-size: 0.9rem; /* Taille de police */
}

.forgot-password a:hover {
    text-decoration: underline; /* Soulignement du lien au survol */
}


.btn:hover{
    border-color: #ffe166;
    background: #ffe166;
}




.auth-buttons {
    display: flex; /* Arrange buttons horizontally */
    margin-left: auto; /* Push buttons to the right */
  }
  
  .btn-connect {
    background-color: #ffd733; /* Yellow background */
    border: 1px solid #ffeb3b; /* Yellow border */
    padding: 0.5rem 1rem; /* Padding for button content */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Indicate clickable elements */
    margin-left: 0.5rem; /* Spacing between buttons */
  }
  
  .btn-register {
    border: 1px solid #ffd733; /* Yellow border */
    padding: 0.5rem 1rem; /* Padding for button content */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Indicate clickable elements */
    margin-left: 0.5rem; /* Spacing between buttons */
  }
  
  /* Optional styles for hover and focus states */
  .btn-connect:hover,
  .btn-register:hover {
    background-color: #ffd733; /* Change background on hover */
  }
  
  .btn-connect:focus,
  .btn-register:focus {
    outline: 1px solid #007bff; /* Focus outline */
  }


  .forgot-password {
    margin-top: 2rem; /* Augmentez ou diminuez la marge supérieure selon vos besoins */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; /* Fond blanc */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
    max-width: 810px; /* Largeur maximale */
    margin: 91px auto; /* Centre horizontalement */
}

.forgot-password label {
    color: var(--mac-grey);
    font-size: 0.9rem;
    margin-bottom: 0.55rem;
    margin-left: -485px;
}

.forgot-password input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.forgot-password p {
    color: var(--mac-grey);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.forgot-password .btn-send {
    background-color: #ffd733;
    border: 1px solid #ffeb3b;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

/* Styles facultatifs pour les états de survol et de focus */
.forgot-password .btn-send:hover {
    background-color: #ffd733;
}

