<div class="layout-topbar">
    <div>
      <a class="layout-topbar-logo" routerLink="#">
        <img
          src="../../../assets/layout/images/bpi (2).png"
          alt="logo"
        />
        <span>| Réferentiel tiers</span>
      </a>
    </div>

    <div class="auth-buttons">
        <button class="btn-connect" [routerLink]="'/login'">Se connecter</button>
        <button class="btn-register" [routerLink]="'/register'">Créer mon compte</button>
      </div>

  </div>

<div class="reset-password">
    <h2>Réinitialisation du mot de passe</h2>

    <div *ngIf="!resetSuccess">
      <form (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label for="password">Nouveau mot de passe</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
          <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
        </div>
        <button type="submit">Valider</button>
        <!-- <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div> -->
      </form>
    </div>

    <div *ngIf="resetSuccess">
      <!-- <p>Votre mot de passe a été réinitialisé avec succès.</p> -->
      <button style="color: black; background-color:#ffd733 ;" (click)="goToLoginPage()">Retourner à la page de connexion</button>

    </div>
  </div>
