<div class="layout-topbar">
  <div>
    <a class="layout-topbar-logo" routerLink="#">
      <img
        src="../../../assets/layout/images/bpi (2).png"
        alt="logo"
      />
      <span>| Réferentiel tiers</span>
    </a>
  </div>

  <div class="auth-buttons">
    <button class="btn-connect" [routerLink]="'/login'">Se connecter</button>
    <button class="btn-register" [routerLink]="'/register'">Créer mon compte</button>
  </div>

</div>


<div class="forgot-password">
  <label for="username-email">Nom d'utilisateur ou adresse courriel<span style="color: red;"> *</span></label>
  <input type="email" id="username-email" name="username-email" placeholder="Entrez votre adresse courriel" [(ngModel)]="email" required>
  <p>Un e-mail de réinitialisation de mot de passe sera envoyé à cette adresse.</p>
  <button class="btn-send" (click)="sendResetPasswordEmail()">Envoyer</button>
</div>
<!-- Notification -->
<!-- <div class="notification" *ngIf="showNotification">
    Veuillez vérifier votre boîte mail.
  </div> -->
  
