<div class="layout-topbar">
  <div>
    <a class="layout-topbar-logo" routerLink="#">
      <img
        src="../../../assets/layout/images/bpi (2).png"
        alt="logo"
      />
      <span>| Réferentiel tiers</span>
    </a>
  </div>
  
  <div class="auth-buttons">
    <button class="btn-connect" (click)="navigateToLogin()">Se connecter</button>
      
  </div>
  
</div>

<div class="verification-message">
  <div>
    <i class="pi pi-info-circle verification-icon"></i>
    <p class="verification-text" >Veuillez vérifier votre e-mail pour terminer le processus d'inscription.</p>
  </div>
</div>
 
    

  